<launch>
  <include file= "$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="worlds/raceway_ros.world"/>
	  <arg name="paused" value="true"/>
	  <arg name="use_sim_time" value="true"/>
	  <arg name="gui" value="true"/>
	  <arg name="recording" value="false"/>
	  <arg name="debug" value="false"/>
  </include>
  <node pkg ="dataprocess" name="messagefilternode" type="messagefilternode" output="screen" />
</launch>